<div class="container-fluid">
  <div class="container xd-container">
    <h2>Offers</h2>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Discount</th>
          <th>Expire Date</th>
        </tr>
        </thead>
        <tbody *ngFor="let Ofertas of Offers; let i=index;">
        <td>{{Ofertas.title}}</td>
        <td>{{Ofertas.description}}</td>
        <td>{{Ofertas.discount}}</td>
        <td>{{Ofertas.expireDate}}</td>
        </tbody>
      </table>
    </div>
  </div>
</div>

